<div class="container">
    <div class="form-group">
        <label for="brandName">Brand name:</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="brandName" required>
    </div>
    <div class="form-group">
        <label for="modelName">Model name:</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="modelName" required>
    </div>
    <div class="form-group">
        <label for="plateNumber">Plate number:</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="plateNumber" required>
    </div>
    <div class="form-group">
        <label for="registrationId">Registration id:</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="registrationId" required>
    </div>

    <button (click)="onSubmit()" class="btn btn-success">Submit</button>
</div>